<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Chợ rao vặt sinh viên</title>
    <link rel="icon" type="image/x-icon" href="/template/sneat/assets/img/favicon/icon01.png" />
    <script src="~/js/jquery-3.3.1.min.js"></script>
    <!-- Favicon -->
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    </environment>
    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Libraries Stylesheet -->
    <link href="/template/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="/template/css/style.css" rel="stylesheet">
    <script src="~/js/DieuKhien.js"></script>
</head>

<body>
    @*@if (User.Identity.IsAuthenticated)
    {
@await Html.PartialAsync("../SanPham/_ChatPartial.cshtml")}*@

    <!-- Topbar Start -->
    <div class="container-fluid">
        <div class="row align-items-center px-xl-5">
            <div class="col-lg-3 d-none d-lg-block">
                <a href="@Url.Action("Index","SanPham")" class="text-decoration-none">
                    <h2 class="m-0 display-5 font-weight-semi-bold"><span class="text-primary font-weight-bold "><img src="~/template/img/LogoSV2.png" height="80px" /></span></h2>
                </a>
            </div>
            <div class="col-lg-6 col-6 text-left">
                <form action="">
                    <div class="input-group">

                        <div class="input-group-append btnSearch" onclick="TimKiemTheoTen()">
                            <input type="text" class="form-control" placeholder="Tìm kiếm sản phẩm" id="timkiem">
                            <span class="input-group-text bg-transparent text-primary">
                                <i class="fa fa-search" style="width: 30px"></i>
                            </span>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-lg-1 col-6 text-right" id="divgiohang">
                @await Html.PartialAsync("../GioHang/_GioHangPartial.cshtml")
            </div>
        </div>
    </div>

    <!-- Topbar End -->
    <!-- Navbar Start -->
    <div class="container-fluid">
        <div class="row border-top px-xl-5" style="margin-left: -70px">
            <div class="col-lg-3 d-none d-lg-block">
                <ul class="accordion-menu" style="margin-top:0px; width:300px">
                    <a class="btn shadow-none d-flex align-items-center justify-content-between bg-primary text-white w-100" data-toggle="collapse" href="#navbar-vertical" style="height: 60px; margin-top: -1px; padding: 0 30px">
                        <h5 class="m-3" style="color: white"><b>Danh mục sản phẩm</b></h5>
                    </a>
                    <li>
                        <div class="dropdownlink">
                            <h5><i class="fa fa-male" aria-hidden="true"></i>Thời trang, đồ cá nhân <i class="fa fa-chevron-down" aria-hidden="true"></i></h5>
                        </div>
                        <ul class="submenuItems">
                            <li onclick="DMQuanAo()"><a href="#">Quần áo</a></li>
                            <li onclick="DMGiayDep()"><a href="#">Giày dép</a></li>
                            <li onclick="DMPhuKienTT()"><a href="#">Phụ kiện thời trang</a></li>
                            <li onclick="DMTuiBalo()"><a href="#">Túi, balo</a></li>
                            <li onclick="DMCaNhanKhac()"><a href="#">Đồ dùng cá nhân khác</a></li>
                        </ul>
                    </li>
                    <li>
                        <div class="dropdownlink">
                            <h5>
                                <i class="fa fa-mobile" aria-hidden="true"></i> Đồ điện tử
                                <i class="fa fa-chevron-down" aria-hidden="true"></i>
                            </h5>

                        </div>
                        <ul class="submenuItems">
                            <li onclick="DMDienThoai()"><a href="#">Điện thoại</a></li>
                            <li onclick="DMLaptop()"><a href="#">Laptop</a></li>
                            <li onclick="DMPhuKienDT()"><a href="#">Phụ kiện điện tử</a></li>
                            <li onclick="DMDienTuKhac()"><a href="#">Đồ điện tử khác</a></li>
                        </ul>
                    </li>
                    <li>
                        <div class="dropdownlink">
                            <h5>
                                <i class="fa fa-bed" aria-hidden="true"></i> Nội thất, Gia dụng
                                <i class="fa fa-chevron-down" aria-hidden="true"></i>
                            </h5>
                        </div>
                        <ul class="submenuItems">
                            <li onclick="DMTuKe()"><a href="#">Tủ, kệ</a></li>
                            <li onclick="DMBanGhe()"><a href="#">Bàn ghế</a></li>
                            <li onclick="DMGiuong()"><a href="#">Giường, chăn ga gối nệm</a></li>
                            <li onclick="DMNhaBep()"><a href="#">Dụng cụ nhà bếp</a></li>
                            <li onclick="DMQuat()"><a href="#">Quạt, điều hòa</a></li>
                            <li onclick="DMVeSinh()"><a href="#">Thiết bị vệ sinh</a></li>
                        </ul>
                    </li>
                    <li>
                        <div class="dropdownlink">
                            <h5 onclick="PhuongTien()">
                                <i class="fa fa-motorcycle" aria-hidden="true" ></i> Xe cộ
                                @*<i class="fa fa-chevron-down" aria-hidden="true"></i>*@
                            </h5>

                        </div>
                        @*<ul class="submenuItems">
                            <li onclick="PhuongTien()"><a href="#">Xe máy</a></li>
                            <li onclick="PhuongTien()"><a href="#">Xe đạp</a></li>
                        </ul>*@
                    </li>
                    <li>
                        <div class="dropdownlink">
                            <h5 onclick="DoKhac()">
                                Khác
                                @*<i class="fa fa-chevron-down" aria-hidden="true"></i>*@
                            </h5>
                        </div>
                       
                    </li>
                </ul>

            </div>


            <div class="col-lg-9" style="padding:3px; margin-top:-5px">
                <nav class="navbar navbar-expand-lg bg-light navbar-light py-3 py-lg-0 px-0">
                    <a href="@Url.Action("Index","SanPham")" class="text-decoration-none d-block d-lg-none">
                        <h2 class="m-0 display-5 font-weight-semi-bold"><span class="text-primary font-weight-bold border px-3 mr-1">Chợ rao vặt Sinh viên</span></h2>
                    </a>
                    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                        @await Html.PartialAsync("../Shared/_LoginPartial.cshtml")
                    </div>
                </nav>
                <div style="background-color:gainsboro">
                    @RenderBody()

                </div>
            </div>
        </div>
    </div>

    <!-- Navbar End -->
    <!-- Footer Start -->
    
    <!-- Footer End -->
    <!-- Back to Top -->
    <a href="#" class="btn btn-primary back-to-top"><i class="fa fa-angle-double-up"></i></a>


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="/template/lib/easing/easing.min.js"></script>
    <script src="/template/lib/owlcarousel/owl.carousel.min.js"></script>

    <!-- Contact Javascript File -->
    <script src="/template/mail/jqBootstrapValidation.min.js"></script>
    <script src="/template/mail/contact.js"></script>

    <!-- Template Javascript -->
    <script src="/template/js/main.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="js/jquery-1.11.1.min.js"></script>
</body>
<div class="container-fluid bg-secondary text-dark mt-5 pt-5">
    <div class="row border-top border-light mx-xl-5 py-4">
        <div class="col-md-6 px-xl-0">
            <p class="mb-md-0 text-center text-md-left text-dark">
            </p>
        </div>
    </div>
</div>
<!-- Footer -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="container-fluid">
    <div class="row justify-content-center row-1" style="margin-left:80px">
        <div style="width:900px; margin-left:155px">
            <h4><b>WEBSITE MUA BÁN CHIA SẺ TRỰC TUYẾN DÀNH CHO SINH VIÊN</b></h4>
            <h5>
                Website với mục tiêu tạo ra một không để các học sinh, sinh viên có thể mua bán, chia sẻ đồ dùng. Mang theo nhiệm vụ phục vụ các nhu cầu cuộc sống dành cho nhóm người dùng sinh viên, website sẽ đã và đang mang lại những giá trị cho cộng đồng sinh viên Việt Nam.
            </h5>
            <h5>
                Khách hàng khi đến với Chợ rao vặt sinh viên dễ dàng xem danh sách sản phẩm theo danh mục, xem thông tin chi tiết các sản phẩm, tìm kiếm sản phẩm theo từ khóa, đối với khách hàng có đăng ký tài khoản có thế thể thêm các sản phẩm vào giỏ hàng, đặt mua sản phẩm, theo dõi đơn hàng, đánh giá sản phẩm, quản lý gian hàng, thêm bài đăng bán sản phẩm, quản lý đơn hàng bán và quản lý tài khoản cá nhân.
            </h5>
        </div>
    </div>
    <footer class="ml-xl-5 ml-md-4 ml-3 " style="margin-top:-40px; width:90%">
        <div class="row justify-content-end">
            <div class=" col-12">
                <div class="row pt-5">
                    <div class="col-xl-4 col-12 mr-auto">
                        <div class="media flex-sm-row flex-column ">
                            <img class="align-self-center img-fluid mobile-img " src="~/template/img/LogoSV2.png">
                            
                        </div>
                    </div>
                    <div class="col-xl-8 col-lg-12 col-md-12 col-sm-12 my-auto ">
                        <div class="row justify-content-around">
                            <div class="col-md-3 col-6 mt-md-0 mt-3">
                                <i class="fa fa-map-marker fa-3x" style="margin-left:90px"></i>
                                <a href="https://goo.gl/maps/4HgpCQ3Z2idSXDaZ9">
                                    <p>Đường 3/2 - Xuân Khánh - Ninh Kiều - TP. Cần Thơ</p>
                                </a>
                            </div>
                            <div class="col-md-3 col-6 mt-md-0 mt-3">
                                <i class="fa fa-facebook-official fa-3x" style="margin-left:50px"></i>
                                <a href="https://www.facebook.com/profile.php?id=100021896134790">
                                    <p>Chợ rao vặt sinh viên</p>
                                </a>
                            </div>
                            <div class="col-md-3 col-6 mt-md-0 mt-3">
                                <i class="fa fa-phone-square fa-3x" style="margin-left:30px"></i>
                                <a href="https://id.zalo.me/account?continue=https%3A%2F%2Fchat.zalo.me%2F%3Fnull">
                                    <p>0949 617 013</p>
                                </a>
                            </div>
                           

                            <div class="col-md-auto col-12">
                                <ul class="list-unstyled text-muted">
                                    <li>
                                    <li><b>Donwload App</b></li>
                                    <li><img src="https://i.imgur.com/iU0M5wp.png" class="img-fluid app-img" width="100" style="cursor:pointer"></li>
                                    <li><img src="https://i.imgur.com/M6ccl7k.png" class="img-fluid app-img" width="100" style="cursor:pointer"> </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>               
            </div>
        </div>
    </footer>
</div>
</html>

<script>

    $(function () {
        var Accordion = function (el, multiple) {
            this.el = el || {};
            // more then one submenu open?
            this.multiple = multiple || false;

            var dropdownlink = this.el.find('.dropdownlink');
            dropdownlink.on('click',
                { el: this.el, multiple: this.multiple },
                this.dropdown);
        };

        Accordion.prototype.dropdown = function (e) {
            var $el = e.data.el,
                $this = $(this),
                //this is the ul.submenuItems
                $next = $this.next();

            $next.slideToggle();
            $this.parent().toggleClass('open');

            if (!e.data.multiple) {
                //show only one menu at the same time
                $el.find('.submenuItems').not($next).slideUp().parent().removeClass('open');
            }
        }

        var accordion = new Accordion($('.accordion-menu'), false);
    })

    // Tim kiem theo ten
    function TimKiemTheoTen() {
        var str = document.getElementById('timkiem').value;
        if (str == null || str == "" || !/\S/.test(str)) {

        }
        else {
            window.location.href = '/SanPham/TimKiem?str=' + str;
        }
    }

    // Tim kiem theo loai
    function TimKiemTheoLoai(id) {
        console.log(id)
    }

    function DoCaNhan() {
        window.location.href = '/SanPham/DoCaNhan';
    }

    //
    function DMQuanAo() {
        window.location.href = '/SanPham/DMQuanAo';
    }
    //
    function DMGiayDep() {
        window.location.href = '/SanPham/DMGiayDep';
    }

    function DMPhuKienTT() {
        window.location.href = '/SanPham/DMPhuKienTT';
    }

    function DMTuiBalo() {
        window.location.href = '/SanPham/DMTuiBalo';
    }

    function DMCaNhanKhac() {
        window.location.href = '/SanPham/DMCaNhanKhac';
    }

    function DoDienTu() {
        window.location.href = '/SanPham/DoDienTu';
    }
    //
    function DMDienThoai() {
        window.location.href = '/SanPham/DMDienThoai';
    }
    function DMLaptop() {
        window.location.href = '/SanPham/DMLaptop';
    }
    function DMPhuKienDT() {
        window.location.href = '/SanPham/DMPhuKienDT';
    }
    function DMDienTuKhac() {
        window.location.href = '/SanPham/DMDienTuKhac';
    }

    function DoNoiThat() {
        window.location.href = '/SanPham/DoNoiThat';
    }
    //////
    function DMTuKe() {
        window.location.href = '/SanPham/DMTuKe';
    }
    function DMBanGhe() {
        window.location.href = '/SanPham/DMBanGhe';
    }
    function DMGiuong() {
        window.location.href = '/SanPham/DMGiuong';
    }
    function DMNhaBep() {
        window.location.href = '/SanPham/DMNhaBep';
    }
    function DMQuat() {
        window.location.href = '/SanPham/DMQuat';
    }
    function DMVeSinh() {
        window.location.href = '/SanPham/DMVeSinh';
    }

    function DoHocTap() {
        window.location.href = '/SanPham/DoHocTap';
    }

    function PhuongTien() {
        window.location.href = '/SanPham/PhuongTien';
    }

    function DoKhac() {
        window.location.href = '/SanPham/DoKhac';
    }

    // Hien danh muc
    //function HienDanhMuc(data) {
    //    var str = "";
    //    for (var i in data) {
    //        if (data[i].danhmuccon.length > 1) {
    //            str += '<div class="nav-item dropdown">'
    //            str += '<a href="#" class="nav-link danhmuc" data-toggle="dropdown">' + data[i].ten + ' <i class="fa fa-angle-down float-right mt-1"></i></a>'
    //            str += '<div class="dropdown-menu position-absolute bg-secondary border-0 rounded-0 w-100 m-0">'
    //            for (var x in data[i].danhmuccon) {
    //                str += '<a class="dropdown-item" href="/SanPham/TimKiemTheoLoai?maloai=' + data[i].danhmuccon[x].id + '">' + data[i].danhmuccon[x].ten + '</a>'
    //            }
    //            str += '</div>'
    //            str += '</div>'
    //        }
    //        else {
    //            str += '<a class="dropdown-item" href="/SanPham/TimKiemTheoLoai?maloai=' + data[i].danhmuccon[0].id + '">' + data[i].danhmuccon[0].ten + '</a>'
    //        }
    //    }
    //    document.getElementById('DMSP').innerHTML = str;
    //}

    // load danh muc
    //function LoadDanhMuc() {
    //    $.ajax({
    //        url: '/SanPham/DanhMucSanPham',
    //        type: 'get',
    //        success: function (data) {
    //            HienDanhMuc(data)
    //        }
    //    })
    //}

    // ready
    //$(document).ready(function () {
    //    LoadDanhMuc();
    //})
</script>