<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Chợ rao vặt sinh viên</title>
    <link rel="icon" type="image/x-icon" href="/template/sneat/assets/img/favicon/icon01.png" />
    <script src="~/js/jquery-3.3.1.min.js"></script>
    <!-- Favicon -->
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    </environment>
    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Libraries Stylesheet -->
    <link href="/template/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="/template/css/style.css" rel="stylesheet">
    <script src="~/js/DieuKhien.js"></script>
</head>

<body>
    @if (User.Identity.IsAuthenticated)
    {
@await Html.PartialAsync("../SanPham/_ChatPartial.cshtml")}

    <!-- Topbar Start -->
    <div class="container-fluid">
        <div class="row align-items-center px-xl-5">
            <div class="col-lg-3 d-none d-lg-block">
                <a href="@Url.Action("Index","SanPham")" class="text-decoration-none">
                    <h2 class="m-0 display-5 font-weight-semi-bold"><span class="text-primary font-weight-bold "><img src="~/template/img/LogoSV2.png" height="80px" /></span></h2>
                </a>
            </div>
            <div class="col-lg-6 col-6 text-left">
                <form action="">
                    <div class="input-group">

                        <div class="input-group-append btnSearch" onclick="TimKiemTheoTen()">
                            <input type="text" class="form-control" placeholder="Tìm kiếm sản phẩm" id="timkiem">
                            <span class="input-group-text bg-transparent text-primary">
                                <i class="fa fa-search" style="width: 30px"></i>
                            </span>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-lg-1 col-6 text-right" id="divgiohang">
                @await Html.PartialAsync("../GioHang/_GioHangPartial.cshtml")
            </div>
        </div>
    </div>

    <!-- Topbar End -->
    <!-- Navbar Start -->
    <div class="container-fluid">
        <div class="row border-top px-xl-5" style="margin-left: -70px">
            <div class="col-lg-3 d-none d-lg-block">
                <a class="btn shadow-none d-flex align-items-center justify-content-between bg-primary text-white w-100" data-toggle="collapse" href="#navbar-vertical" style="height: 65px; margin-top: -1px; padding: 0 30px;">
                    <h5 class="m-2" style="color: white"><b>Danh mục sản phẩm</b></h5>
                </a>

                <ul class="accordion-menu" style="margin-top:0px">
                    <li>
                        <div class="dropdownlink">
                            <h5><i class="fa fa-male" aria-hidden="true"></i> Đồ cá nhân <i class="fa fa-chevron-down" aria-hidden="true"></i></h5>
                        </div>
                        <ul class="submenuItems">
                            <li><a href="#">Chăn, ra, gối, nệm</a></li>
                            <li><a href="#">Giày dép</a></li>
                            <li><a href="#">Nón, mũ</a></li>
                            <li><a href="#">Quần áo</a></li>
                        </ul>
                    </li>
                    <li>
                        <div class="dropdownlink">
                            <h5>
                                <i class="fa fa-mobile" aria-hidden="true"></i> Đồ điện tử
                                <i class="fa fa-chevron-down" aria-hidden="true"></i>
                            </h5>

                        </div>
                        <ul class="submenuItems">
                            <li><a href="#">Chuột, bàn phím, ...</a></li>
                            <li><a href="#">Điện tử học tập</a></li>
                            <li><a href="#">Điện tử gia dụng</a></li>
                        </ul>
                    </li>
                    <li>
                        <div class="dropdownlink">
                            <h5>
                                <i class="fa fa-bed" aria-hidden="true"></i> Nội thất
                                <i class="fa fa-chevron-down" aria-hidden="true"></i>
                            </h5>
                        </div>
                        <ul class="submenuItems">
                            <li><a href="#">Kệ, tủ</a></li>
                            <li><a href="#">Bàn ghế</a></li>
                            <li><a href="#">Đô gia dụng</a></li>
                        </ul>
                    </li>
                    <li>
                        <div class="dropdownlink">
                            <h5>
                                <i class="fa fa-motorcycle" aria-hidden="true"></i> Xe
                                <i class="fa fa-chevron-down" aria-hidden="true"></i>
                            </h5>

                        </div>
                        <ul class="submenuItems">
                            <li><a href="#">Xe máy</a></li>
                            <li><a href="#">Xe đạp</a></li>
                        </ul>
                    </li>
                </ul>

            </div>


            <div class="col-lg-9" style="padding:3px">
                <nav class="navbar navbar-expand-lg bg-light navbar-light py-3 py-lg-0 px-0">
                    <a href="@Url.Action("Index","SanPham")" class="text-decoration-none d-block d-lg-none">
                        <h2 class="m-0 display-5 font-weight-semi-bold"><span class="text-primary font-weight-bold border px-3 mr-1">Chợ rao vặt Sinh viên</span></h2>
                    </a>
                    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                        @await Html.PartialAsync("../Shared/_LoginPartial.cshtml")
                    </div>
                </nav>
                <div>
                    @RenderBody()

                </div>
            </div>
        </div>
    </div>

    <!-- Navbar End -->
    <!-- Footer Start -->
    <div class="container-fluid bg-secondary text-dark mt-5 pt-5">
        <div class="row border-top border-light mx-xl-5 py-4">
            <div class="col-md-6 px-xl-0">
                <p class="mb-md-0 text-center text-md-left text-dark">
                    &copy; <a class="text-dark font-weight-semi-bold" href="#">Chợ Rao Vặt Sinh Viên</a>.
                    <a class="text-dark font-weight-semi-bold" href="https://htmlcodex.com"></a>
                </p>
            </div>
        </div>
    </div>
    <!-- Footer End -->
    <!-- Back to Top -->
    <a href="#" class="btn btn-primary back-to-top"><i class="fa fa-angle-double-up"></i></a>


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="/template/lib/easing/easing.min.js"></script>
    <script src="/template/lib/owlcarousel/owl.carousel.min.js"></script>

    <!-- Contact Javascript File -->
    <script src="/template/mail/jqBootstrapValidation.min.js"></script>
    <script src="/template/mail/contact.js"></script>

    <!-- Template Javascript -->
    <script src="/template/js/main.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="js/jquery-1.11.1.min.js"></script>
</body>

<!-- Footer -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="container-fluid mt-5 pt-5 ">
    <div class="row justify-content-center row-1">
        <div style="width:900px">
            <h4><b>WEBSITE RAO VẶT TRỰC TUYẾN DÀNH CHO SINH VIÊN</b></h4>
            <p>
                Trong việc mua bán, đối với người kinh doanh có nguồn vốn ban đầu thấp, làm thế nào để vừa có được không gian bán hàng tốt vừa tiếp cận khách hàng dễ dàng mà không tốn quá nhiều chi phí cho việc chạy quảng cáo, thuê nhân viên, mặt bằng, trang trí cửa hàng, … còn đối với người tiêu dùng thì làm thế nào để dễ dàng tìm ra được một cửa hàng bán sản phẩm chất lượng, uy tín, tham khảo sản phẩm vào những thời gian rảnh rỗi mà không cần tốn quá nhiều công sức và thời gian di chuyển, chủ động trong việc thanh toán và vận chuyển.
                Với tốc độ phát triển mạnh mẽ của công nghệ như hiện nay đã làm nâng cao chất lượng cuộc sống của con người, nhu cầu sử dụng các dịch vụ tiện ích ngày càng tăng cao. Việc mua bán truyền thống dần có những bất cập nhất định như tốn khá nhiều thời gian trong việc tìm kiếm và mua sản phẩm, giá của sản phẩm khá đắt do một số cửa hàng không sử dụng mã giảm giá, … trong khi đó mua bán online ngày càng thể hiện được những ưu điểm nổi bật như tìm kiếm thông tin sản phẩm dễ dàng, không tốn quá nhiều thời gian cho việc mua sản phẩm, có thể đặt mua sản phẩm vào bất kỳ thời gian nào và một ưu điểm nổi bật là giao hàng tận nơi, ...
            </p>
        </div>
    </div>
    <footer class="ml-xl-5 ml-md-4 ml-3 " style="margin-top:-40px">
        <div class="row justify-content-end">
            <div class=" col-12">
                <div class="row pt-5">
                    <div class="col-xl-4 col-12 mr-auto">
                        <div class="media flex-sm-row flex-column ">
                            <img class="align-self-center img-fluid mobile-img " src="~/template/img/LogoSV.png">
                            
                        </div>
                    </div>
                    <div class="col-xl-8 col-lg-12 col-md-12 col-sm-12 my-auto ">
                        <div class="row justify-content-around">
                            <div class="col-md-3 col-12 mt-md-0 mt-3">
                                <ul class="list-unstyled text-muted">
                                    <li>Conditions</li>
                                    <li>Privacy</li>
                                    <li>Imprint</li>
                                    <li>Press</li>
                                    <li>COntact</li>
                                    <li>Jobs</li>
                                </ul>
                            </div>
                            <div class="col-md-3 col-12 mt-md-0 mt-3">
                                <ul class="list-unstyled text-muted">
                                    <li>Conditions</li>
                                    <li>Privacy</li>
                                    <li>Imprint</li>
                                    <li>Press</li>
                                    <li>COntact</li>
                                    <li>Jobs</li>
                                </ul>
                            </div>
                            <div class="col-md-3 col-12 mt-md-0 mt-3">
                                <ul class="list-unstyled text-muted">
                                    <li>Credit</li>
                                    <li>Bonitatsausktit</li>
                                    <li>Experience</li>
                                    <li>Tenet info</li>
                                    <li>SCHUFA SCORE</li>
                                </ul>
                            </div>
                            <div class="col-md-auto col-12">
                                <ul class="list-unstyled text-muted">
                                    <li>
                                    <li>Donwload App</li>
                                    <li><img src="https://i.imgur.com/iU0M5wp.png" class="img-fluid app-img" width="100"></li>
                                    <li><img src="https://i.imgur.com/M6ccl7k.png" class="img-fluid app-img" width="100"></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>               
            </div>
        </div>
    </footer>
</div>


</html>

<script>

    $(function () {
        var Accordion = function (el, multiple) {
            this.el = el || {};
            // more then one submenu open?
            this.multiple = multiple || false;

            var dropdownlink = this.el.find('.dropdownlink');
            dropdownlink.on('click',
                { el: this.el, multiple: this.multiple },
                this.dropdown);
        };

        Accordion.prototype.dropdown = function (e) {
            var $el = e.data.el,
                $this = $(this),
                //this is the ul.submenuItems
                $next = $this.next();

            $next.slideToggle();
            $this.parent().toggleClass('open');

            if (!e.data.multiple) {
                //show only one menu at the same time
                $el.find('.submenuItems').not($next).slideUp().parent().removeClass('open');
            }
        }

        var accordion = new Accordion($('.accordion-menu'), false);
    })

    // Tim kiem theo ten
    function TimKiemTheoTen() {
        var str = document.getElementById('timkiem').value;
        if (str == null || str == "" || !/\S/.test(str)) {

        }
        else {
            window.location.href = '/SanPham/TimKiem?str=' + str;
        }
    }

    // Tim kiem theo loai
    function TimKiemTheoLoai(id) {
        console.log(id)
    }

    function DoCaNhan() {
        window.location.href = '/SanPham/DoCaNhan';
    }

    function DoDienTu() {
        window.location.href = '/SanPham/DoDienTu';
    }

    function DoNoiThat() {
        window.location.href = '/SanPham/DoNoiThat';
    }

    function DoHocTap() {
        window.location.href = '/SanPham/DoHocTap';
    }

    function PhuongTien() {
        window.location.href = '/SanPham/PhuongTien';
    }

    function DoKhac() {
        window.location.href = '/SanPham/DoKhac';
    }

    // Hien danh muc
    //function HienDanhMuc(data) {
    //    var str = "";
    //    for (var i in data) {
    //        if (data[i].danhmuccon.length > 1) {
    //            str += '<div class="nav-item dropdown">'
    //            str += '<a href="#" class="nav-link danhmuc" data-toggle="dropdown">' + data[i].ten + ' <i class="fa fa-angle-down float-right mt-1"></i></a>'
    //            str += '<div class="dropdown-menu position-absolute bg-secondary border-0 rounded-0 w-100 m-0">'
    //            for (var x in data[i].danhmuccon) {
    //                str += '<a class="dropdown-item" href="/SanPham/TimKiemTheoLoai?maloai=' + data[i].danhmuccon[x].id + '">' + data[i].danhmuccon[x].ten + '</a>'
    //            }
    //            str += '</div>'
    //            str += '</div>'
    //        }
    //        else {
    //            str += '<a class="dropdown-item" href="/SanPham/TimKiemTheoLoai?maloai=' + data[i].danhmuccon[0].id + '">' + data[i].danhmuccon[0].ten + '</a>'
    //        }
    //    }
    //    document.getElementById('DMSP').innerHTML = str;
    //}

    // load danh muc
    //function LoadDanhMuc() {
    //    $.ajax({
    //        url: '/SanPham/DanhMucSanPham',
    //        type: 'get',
    //        success: function (data) {
    //            HienDanhMuc(data)
    //        }
    //    })
    //}

    // ready
    //$(document).ready(function () {
    //    LoadDanhMuc();
    //})
</script>