
<a href="@Url.Action("DanhSachSanPham","CuaHang")" class="nav-item nav-link dndk">Danh sách sản phẩm  <i class="fa fa-bars mr-1"></i></a>
<a href="@Url.Action("DanhSachHoaDonNguoiBan","HoaDon")" class="nav-item nav-link dndk">Hóa đơn bán <i class="fa fa-file-text mr-1"></i><small id="HoaDonMoi"></small></a>

<script>
    // Dem hoa don moi
    function SoHoaDonMoi() {
        $.ajax({
            url: '/HoaDon/DemHoaDonMoi',
            type: 'get',
            success: function (data) {
                if (parseInt(data) != 0) {
                    document.getElementById('HoaDonMoi').innerHTML = '( ' + data + ' )';
                    document.getElementById('HoaDonMoi').style.color = "red";
                }
            }
        })
    }

    //ready
    $(document).ready(function () {
        SoHoaDonMoi();
    })
</script>